---
title: Meanwhile....io
---

<div class="welcome">
  <h1>Meanwhile.io</h1>
  <p class="doc">
    <%= link_to "come speak with us", "http://chat.meanwhile.io/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
